/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Mobile Styles*/
.tablet_desktop, .desktop, #menu-links {
    display: none;
}
header {
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Lora', "Times New Roman", serif;
    text-align: center;
    font-size: 1.5em;
}

body {
    background-color: #ecf9ec;
}

nav {
    background-color: #39ac39;
}

.mobile-nav a {
    font-family: 'Ubuntu', Times, serif;
    font-size: 1.75em;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #ecf9ec;
    color: white;
    padding: 2%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    right: 0;
    top: 0;
    text-align: center;
}

main {
    font-family: 'Manrope', Serif, sans-serif;
}

.page_title {
    padding-top: 2%;
    text-align: center;
    font-size: .75em;
}

.mobile {
    text-align: center;
}

.mobile p {
    text-align: left;
}

.mobile ul {
    margin-left: 20px;
    text-align: left;
}


.mobile img {
    width: 45%;
    border: 2px solid #39ac39;
    box-shadow: 5px 5px 5px grey;
}

main p {
    font-size: 1em;
    padding: 2% 2%;
    margin: 2%
}

article {
    padding-top: 2%;
    margin: 2%;
}

aside {
    text-align: center;
}

#questions p {
    cursor: pointer;
}

#answer h3 {
    display: none;
}

#tree_vid {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

#tree_vid iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bottomLogo {
    text-align: center;
}

.bottomLogo img {
    width: 10%;
}

footer {
    background-color: #39ac39;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', Times, serif;
    padding: 1%;
}

footer p {
    padding: 1%;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.social a img {
    padding: 2%;
    max-width: 25%;
}

/*Tablet Styles*/
@media screen and (min-width: 767px) {

    .mobile, .mobile img {
        display: none;
    }
    
    .tablet_desktop {
        display: block;
    }

    .hero_img img {
        max-width: 100%;
    }

    .page_title {
        font-size: 1em;
    }

    main p {
        font-size: 1.5em;
        padding-top: 0;
    }

    article img {
        padding-left: 1%;
        max-width: 20%;
        float: right;
        box-shadow: 10px 10px 10px gray;
    }

    article aside {
        text-align: center;
    }

    #smallp {
        padding: 0;
        font-size: 1em;
    }

    .table_title {
        text-align: center;
    }

    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #39ac39;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ecf9ec;
    }

    footer p {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1023px), print {

    .mobile-nav {
        display: none;
    }

    .desktop {
        display: block;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
        padding: 1em;
    }

    nav li {
        font-size: 1.5em;
        font-family: 'Ubuntu', Times, serif;
        display: inline-block;
        border-right: 1px solid #FFFFFF;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        color: #FFFFFF;
        padding: .5em 2em;
        text-decoration: none;
    }

    nav li a:hover {
        color: lightgrey;
    }

    #whoRwe img {
        width: 35%;
    }
}



